.app {
  border: 1px solid #e0ebeb;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
  font-family: "Lato", sans-serif;
}

.search {
  padding-top: 20px;
}
h1 {
  color: #a7bcb9;
  font-size: 55px;
  padding: 10px 0;
  font-weight: 100;
  line-height: 30px;
}

.day_time_weather_description {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  color: #707eae;
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

.imoji_temp {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  border: solid;
  border-radius: 40px;
  padding: 10px;
}

.precipitation_humidity_wind {
  font-size: 10px;
  color: #707eae;
  padding: 10px 0;
  text-align: left;
}

.date {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  text-align: left;
}

.current_temp {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  text-align: left;
}

.forecast {
  text-align: center;
  font-size: 18px;
}

.day {
  font-size: 20px;
  font-weight: bolder;
}

.imoji {
  font-size: 25px;
}

.Open-source-code-link {
  font-size: smaller;
  text-align: center;
  font-family: "Lato", sans-serif;
}
